.slide-01  {background:url(../img/sd1.jpg);}
.slide-02  {background:url(../img/sd2.jpg);}
.slide-03  {background:url(../img/sd3.jpg);}
.slide-04  {background:url(../img/sd4.jpg);}
.slide-05  {background:url(../img/sd5.jpg);}
.slide-06  {background:url(../img/sd6.jpg);}
